*:focus {
  outline: none;
}

html, body {
    height: 100%;
    margin: 0 auto;
}
header {
    background-image: url("../images/activities.jpg");
    background-size: cover;
    height: 100%;
}

.bigwelcome {
    text-align: center;    
    font-size: 77px;
    font-weight: 700;
    color: azure;
    text-transform: uppercase;
    letter-spacing: 0.2cm;
    margin-top: 0;
    margin-bottom: 20px;
    clear: both;
    padding-top: 50px;
    padding-bottom: 140px;
    font-family: 'Josefin Slab', serif;
}

.bigwelcome span {
    display: inline-block;
    padding: 0.6cm 0.6cm;
    border: white solid 3px;
}

.SLS {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.05cm;
    color: azure;
    line-height: 1;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.cointainer {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

.samelinebtn, .samelinebtn div {
    display: inline;
}

.buttons button {
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
    vertical-align: middle;
    font-size: 18px;
    padding: 15px 40px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.buttons button:hover {
    color: #6CC7D7;
    background-color: #F0F6DC;
    transition: ease-in all 300ms;
    -moz-transition: ease-in all 300ms;
    -webkit-transition: ease-in all 300ms;
    -o-transition: ease-in all 300ms;
}

.buttonone {
    text-align: center;
    display: block;
}

.modal-body {
    text-align: center;
}

table {
    table-layout:fixed;
}

.div-table-content {
  height:150px;
  overflow-y:auto;
}

#backbutt{
    margin-top: 20px;
}

td {
    text-align: center;
}
.app-date{
    text-align: right;
}